<header>
  <a class="logo"
    routerLink="/lista-livros"
    routerLinkActive="active-page"
    ariaCurrentWhenActive="page"
    aria-label="Ir para a página inicial"
    >
    <img
      src="assets/imagens/logo.png"
      alt="Logo da aplicação Buscante">
  </a>
  <nav>
    <a
      routerLink="/sobre"
      routerLinkActive="active-page"
      aria-label="Ir para a página Sobre"
      >Sobre
    </a>
    <a
      routerLink="/contato"
      routerLinkActive="active-page"
      aria-label="Ir para a página Contato"
      >Contato
    </a>
  </nav>
</header>